body{
  background-color: cornsilk;
}
div#keret{
  width: 200px;
  height: 370px;
  background-color: wheat;
  border-style: solid;
  border-color: black;
  border-radius: 10px;
  margin: auto;
}
div#osszead{
  margin-top: 30px;
}
input[type="text"]{
  margin-left: 25px;
  margin-top: 10px;
}
input[type="text"]:focus{
  border-style: solid;
  margin-color:black;
}
input[type="button"]{
  display: block;
  margin: auto;
  background-color: lightsteelblue;
  font-size: 20pt;
}
p#vegeredmeny{
  text-align: center;
  font-size: 15pt;
  font-weight: bold;
}
