body{
	background-color: darkorange;
}
table{
	width: 100%
}
table, th, tr, td{
	border: 1px solid black;
	border-collapse: collapse;
	/*egy vonal látszódik*/
}
th,td{
	padding: 5px;
	/*cella széleitől adja meg a távolságot*/
}
th{
	text-align:center;
}
img{
	width: 50%;
}
h1{
	text-align: center;
}
td{
	text-align: center;
}
table#t01 tr:nth-child(even){
	background-color: #eee;
}
table#t01 tr:nth-child(odd){
	background-color: #fff;
}
table#t01 th{
	background-color: green;
	color: white;
}